# This file  contains shell agnostic aliases
# For shell specific aliases use: .bashrc_aliases, ...

alias sls='screen -ls'

alias sb='source ~/.bashrc'
alias sp='source ~/.profile'

alias cfg='/usr/local/bin/git --git-dir=~/.dotfiles/ --work-tree=~'
alias cfgs='cfg status'
