[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule ".vim/pack/plugins/start/undotree"]
	path = .vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/plugins/start/tmuxline"]
	path = .vim/pack/plugins/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
