[submodule "packages/rofi/rofi-themes"]
	path = packages/rofi/rofi-themes
	url = https://github.com/davatorium/rofi-themes.git
[submodule "packages/rofi/custom"]
	path = packages/rofi/custom
	url = https://github.com/adi1090x/rofi.git
